<div style="text-align: center; display:flexbox; margin-top: 30px;">
    <h1>Hierarchy Tree </h1>
    <span class="mat-body-2">Standalone Components</span>
    <br/>
    <div class="body genealogy-body genealogy-scroll">
        <div class="genealogy-tree">
            <ul>
                <li>
                    <a href="javascript:void(0);" (click)="mostrme()">
                        <div  class="member-view-box">
                            <div class="member-image">
                                <img src="./../../../assets/img/ejecutivo.png" alt="Member">
                                <div class="member-details">
                                    <h3>Armando Madrigal</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                    <ul class="active">
                        <li>
                            <a href="javascript:void(0);">
                                <div class="member-view-box" >
                                    <div class="member-image">
                                        <img src="./../../../assets/img/nino.png" alt="Member">
                                        <div class="member-details">
                                            <h3>Israel González</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <ul >
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="./../../../assets/img/nino1.png" alt="Member">
                                                <div class="member-details">
                                                    <h3>Ángel Cruz</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>                               
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="./../../../assets/img/nina4.png" alt="Member">
                                                <div class="member-details">
                                                    <h3>Arleny Hernández</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="./../../../assets/img/nina6.png" alt="Member">
                                                        <div class="member-details">
                                                            <h3>Sofia Pérez</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="./../../../assets/img/nino2.png" alt="Member">
                                                        <div class="member-details">
                                                            <h3>Chavo Nuevo</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>                                       
                                    </ul>
                                </li>                                                            
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div class="member-view-box">
                                    <div class="member-image">
                                        <img src="./../../../assets/img/nina.png" alt="Member">
                                        <div class="member-details">
                                            <h3>María Garza</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <ul>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="./../../../assets/img/nina2.png" alt="Member">
                                                <div class="member-details">
                                                    <h3>Lizbeth Meléndez </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>                                  
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="./../../../assets/img/nina1.png" alt="Member">
                                                <div class="member-details">
                                                    <h3>Dulce Pérez</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="./../../../assets/img/nina7.png" alt="Member">
                                                        <div class="member-details">
                                                            <h3>Wendy Flores</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>                                        
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="member-image">
                                                <img src="./../../../assets/img/nina5.png" alt="Member">
                                                <div class="member-details">
                                                    <h3>Áidee Apellido</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                  <ul>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="member-image">
                                                        <img src="./../../../assets/img/nino3.png" alt="Member">
                                                        <div class="member-details">
                                                            <h3>Javier Apellido</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>                                        
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>        
</div>
<script type="javascript">
    $(function () {
        $('.genealogy-tree ul').hide();
        $('.genealogy-tree>ul').show();
        $('.genealogy-tree ul.active').show();
        $('.genealogy-tree li').on('click', function (e) {
            var children = $(this).find('> ul');
            if (children.is(":visible")) 
                children.hide('fast').removeClass('active');
            else 
                children.show('fast').addClass('active');
            e.stopPropagation();
        });
    });

</script>