.number {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid maroon;
    box-sizing: border-box; 
    height: 100px;    
}

.container {    
    height: 300px;
}